/*nav*/
#logo-background-rotated {
    background-color: #DDDFDF;
    transform: rotate(45deg);
    border: 2px solid black;
}
#logo-background-rotated:hover {
    border: 2px solid rgb(255,120,5);
}

#nav_logo_pic {
    height: 140%;
    transform: rotate(-45deg);
}

@media screen and (max-width: 1110px) {
    #logo-background-rotated {
        display:none;
    }
    #nav_logo_pic {
        display:none;
    }
    .navbar-brand,
    li a {
        display:none;
    }
}


.navbar-default {
    background-color: #DDDFDF;
    border: 2px solid black;
    opacity: 0.9;
}

.navbar-brand,
.navbar-nav li a {
    font-size: 30px;
    line-height: 120px;
    height: 120px;
    padding-top: 0;
    padding-bottom: 0;

}

.navbar-nav li {
    padding-left: 5vw;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(255,120,5);
}

/*carousel*/
.carousel-caption {
    font-size: 50px;
    color: rgb(255,120,5);
    opacity: 0.8;
}

#carousel_caption_0{
    position: absolute;
    top: 30%;
    left: -25%;
}
#carousel_caption_1{ 
    top: 50%;
}
#carousel_caption_2{ 
    top: 70%;
    right: -25%;
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.thumbnail_container {
    padding: 5vh 0 5vh 0;
    background-image: url('/images/th_bg_0.png');
}
.thumbnail {
    background-color: #DDDFDF;
    opacity: 0.9;
}
.thumbnail h3 {
    color: rgb(255,120,5);
}


/*media*/
@media screen and (max-width: 760px) {
    #logo-background-rotated {
        display:block;
        transform: rotate(0deg);
        border: none;
        height: 100%;
    }
    #nav_logo_pic {
        display:block;
        height: 100%;
        transform: rotate(0deg);
    }
    #logo-background-rotated:hover {
        border: none;
    }
    .navbar-brand,
    li a {
        display:block;
    }
    #carousel {
        display: none;
    }
}